name: Deploy My App

on:
  workflow_dispatch:  # Manual trigger
  #push:
   # branches: [ main, dev ]

jobs:
  # deploy:
  #   uses: ./.github/workflows/reusable-acr-push.yaml
  #   with:
  #     acr-name: myheatheracr13
  #     acr-login-server: myheatheracr13.azurecr.io
  #     docker-image-name: cart
  #     dockerfile-path: ./E_commerce_project/cart
  #   secrets: inherit

  # deploy-mongo:
  #   uses: ./.github/workflows/reusable-acr-push.yaml
  #   with:
  #     acr-name: myheatheracr13
  #     acr-login-server: myheatheracr13.azurecr.io
  #     docker-image-name: mongo
  #     dockerfile-path: ./E_commerce_project/mongo
  #   secrets: inherit
  
  deploy-sqli:
    uses: ./.github/workflows/reusable-acr-push.yaml
    with:
      acr-name: myheatheracr13
      acr-login-server: myheatheracr13.azurecr.io
      docker-image-name: mysql
      dockerfile-path: ./E_commerce_project/mysql
    secrets: inherit
    

    

